<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Приветствую!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Ты можешь посмотреть список добавленных блюд</p>
<a href="/dishesList">Список блюд</a>

<p>Или добавить новое блюдо</p>
<a href="/newDish">Добавить новое блюдо</a>

<p>А также посчитать, сколько энергии ты за сегодня получил(съел)</p>
<a href="/eaten">Калькулятор калорий</a>

<form action="/logout" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>