<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Добавление нового блюда</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/newDish}" th:object="${newDish}" method="post">
    <h1>Описание блюда</h1>
    <p>name: <input type="text"  th:field="*{name}" /></p>
    <p>proteins: <input type="number" step="0.1" th:field="*{proteins}" /></p>
    <p>carbs: <input type="number" step="0.1" th:field="*{carbs}" /></p>
    <p>lipids: <input type="number" step="0.1" th:field="*{lipids}" /></p>
    <p>kiloCalories: <input type="number" step="0.1" th:field="*{kiloCalories}" /></p>
    <p><input type="submit" value="добавить" /> <input type="reset" value="сбросить" /></p>
    <a href="http://localhost:8080">Главная</a>
    <a href="http://localhost:8080\dishesList">Список блюд</a>
</form>
</body>
</html>